.intro-title {
  color: white;
  font-family: "Teletactile";
  font-weight: 100;
  font-size: 165px;
  line-height: 140px;
  padding: 325px 0px 50px 54px;
}

.intro-logo-title {
  max-width: 140px;
}

.intro-round-title {
  position: absolute;
  transform-origin: center;
  animation: changeRotation 20s linear infinite;
  max-width: 370px;
  top: 200px;
}

@keyframes changeRotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.intro-dots {
  padding-left: 63px;
}

.intro-date {
  color: #b8ff2b;
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.intro-arrows {
  padding: 90px 0px 185px 0px;
  max-width: 265px;
}

@media (max-width: 1550px) {
  .intro-title {
    font-size: 130px;
    line-height: 110px;
  }

  .intro-round-title {
    max-width: 270px;
  }

  .intro-arrows {
    max-width: 210px;
  }
}
