.language {
  color: white;
  font-family: "Archivo", sans-serif;
  font-weight: 100;
}

.language-menu {
  display: flex;
  flex-direction: row;
}

.language-bar {
  color: white;
  font-family: "Archivo", sans-serif;
  font-weight: 100;
}
