.link {
  color: white;
  font-family: "Archivo", sans-serif;
  font-weight: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-transform: uppercase;
  align-items: center;
  padding-top: 7px;
}

.link-inter {
  position: relative;
  text-decoration: none;
}

.link-inter::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 1px;
  background-color: white;
  transform: scaleX(0);
  transition: transform 0.1s ease-in-out;
}

.link-inter:hover::before {
  transform: scaleX(1);
}
