.showreel {
  padding-bottom: 300px;
}

.showreel-title {
  font-family: Teletactile;
  font-weight: 100;
  color: white;
  font-size: 160px;
  line-height: 140px;
  padding-bottom: 30px;
}

.showreel-info {
  padding: 140px 100px 110px 63px;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  align-items: center;
}

.showreel-dots {
  max-width: 145px;
}

.showreel-container {
  display: inline-block;
  position: relative;
  text-decoration: none;
}

.showreel-link-animation {
  opacity: 0.4;
  transition: opacity 0.3s ease-in-out;
}

.showreel-link-animation:hover {
  opacity: 0.3;
}

.showreel-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-decoration: none;
  font-size: 24px;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.showreel-link::before {
  content: url(/src/img/dot-underline.svg);
  position: absolute;
  left: 0;
  bottom: -19px;
  width: 100%;
  transform: scaleX(0);
  transition: transform 0.1s ease-in-out;
}

.showreel-container:hover .showreel-link::before {
  transform: scaleX(1);
}

.showreel-container:hover .showreel-link {
  opacity: 1;
}

.showreel-container:hover .showreel-link-animation {
  opacity: 0.05;
}

@media (max-width: 1830px) {
  .showreel-title {
    font-size: 140px;
    line-height: 120px;
  }
}

@media (max-width: 1600px) {
  .showreel-title {
    font-size: 130px;
    line-height: 110px;
  }
}

@media (max-width: 1450px) {
  .showreel-title {
    font-size: 120px;
    line-height: 100px;
  }

  .showreel-info {
    padding: 100px 70px 80px 63px;
  }
}
