.tickets {
  background-color: #5e2bff;
  text-align: center;
  padding: 80px 0px 70px;

  img {
    max-width: 35px;
  }
}

.tickets-title {
  font-family: "Teletactile";
  font-weight: 100;
  color: white;
  font-size: 40px;

  &.link-inter {
    position: relative;
    text-decoration: none;
  }

  &.link-inter:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    margin-bottom: -6px;
    background-color: white;
    transform: scaleX(0);
    transition: transform 0.1s ease-in-out;
  }

  &.link-inter:hover:before {
    transform: scaleX(1);
  }
}

@media (max-width: 1600px) {
  .tickets-title {
    font-size: 30px;
  }
}
