.tickets {
  background-color: #5e2bff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 80px 520px;

  img {
    max-width: 35px;
  }
}

.tickets-title {
  font-family: Teletactile;
  font-weight: 100;
  color: white;
  font-size: 40px;

  .l-link-inter {
    position: relative;
    text-decoration: none;
  }

  .l-link-inter::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: white;
    transform: scaleX(0);
    transition: transform 0.1s ease-in-out;
  }

  .l-link-inter:hover::before {
    transform: scaleX(1);
  }
}
