.l-logo-title {
  max-width: 140px;
}

.l-navigation {
  background-color: #161616;
  padding: 38px 63px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

.l-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 7px;
}
